@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-weight: 300;
}

body {
  /* ff 3.6+ */
  background:-moz-linear-gradient(28deg, rgba(151, 0, 255, 1) 0%, rgba(42, 125, 255, 1) 100%); 
  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(28deg, rgba(151, 0, 255, 1) 0%, rgba(42, 125, 255, 1) 100%);
  /* opera 11.10+ */
  background:-o-linear-gradient(28deg, rgba(151, 0, 255, 1) 0%, rgba(42, 125, 255, 1) 100%);
 /* ie 6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9700FF', endColorstr='#2A7DFF', GradientType=1 );
 /* ie 10+ */
  background:-ms-linear-gradient(28deg, rgba(151, 0, 255, 1) 0%, rgba(42, 125, 255, 1) 100%);
  /* global 94%+ browsers support */
  background:linear-gradient(28deg, rgba(151, 0, 255, 1) 0%, rgba(42, 125, 255, 1) 100%);
  overflow: hidden;
}

@mixin title-style {
    font-size: 46px;
    letter-spacing: 1px;
    font-weight: 800;
}

@mixin container-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    height: 100vh;
}

@mixin card-style {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        margin: 1rem;
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.7);
        border-radius: 20px;
        height: 500px;
        box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.4)
}

.form-container {
    @include container-style();
    .title {
        font-size: 46px;
        letter-spacing: 1px;
        font-weight: 800;
        margin: 12px;
    }
    .form {
        @include card-style();
        width: 400px;
    }
    .select-label {
        margin: 10px;
    }
    .btn {
        bottom: 10px;
    }
}

.db-container {
    @include container-style();
    .title {
        @include title-style()
    }
    .db-card {
        @include card-style();
        width: 80%
    }
}

@media screen and (max-width: 450px) {
    .form-container {
        .title {
            font-size: 22px;
        }
        .form {
            width: 300px;
            font-size: 14px;
        }
    }
}